#rotate {
  position: absolute;
  top: 365px;
  left: 120px;
}
#welcome {
  position: absolute;
  top: 0px;
  left: 400px;
}
#scoreboard {
  position: absolute;
  top: 0px;
  left: 950px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}